// ColorPalette
$primary: #3F3A64;
$highlight: #20AD96;
$lightBG: #E9E6E3;
$darkBG: #DEDBD9;
$lightText: #7a7498;
$darkText: #69697C;


// common settings
#app {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-left: 17rem;
    padding-right: 17rem;
}

.am-highlight-text {
    color: $highlight;
    font-weight: 400;
}

h1 {
    font-weight: 600;
    color: $primary;
}

h4 {
    color: $primary;
}


h5 {
    color: $darkText;
}

h6 {
    color: $lightText;
}

p {
    color: $lightText;
}

button {
    color: white;
    background-color: $highlight;
    border: none;
    border-radius: 10px;
    padding: .3rem;
    height: 3.2rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
        background-color: #3F3A64;
        transition: .5s all;
        transform: translatex(3px);
    }
}